@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 35px #eee;
}
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Header */
@import url("./components/header/header.css");

/* Products */
@import url("./components/mainpages/products/products.css");

/* detailProduct */
@import url("./components//mainpages/detailProduct/detailProduct.css");

/* auth */
@import url("./components/mainpages/auth/auth.css");

/* cart */
@import url("./components/mainpages/cart/cart.css");

/* History */
@import url("./components/mainpages/history/history.css");

/* Categories */
@import url("./components/mainpages/categories/categories.css");

/* create product */
@import url("./components/mainpages/createProduct/createProduct.css");
