.footer {
  font-size: 16px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: #364f6b;
  justify-content: center;
  align-content: center;
  color: #eee;
  letter-spacing: 1px;
  flex-wrap: wrap;
  padding: 15px;
}

.footer__location,
.footer__about-us,
.footer__social-media {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-basis: 33%;
}

.about-us__title span,
.location__title span,
.social-media__title span {
  line-height: 50px;
  border-bottom: 2px solid lightblue;
  text-transform: uppercase;
  font-size: 20px;
}

.location__pin,
.location__phone,
.location__email {
  display: flex;
  line-height: 40px;
}

.footer__location div img {
  width: 30px;
  filter: invert(99%) sepia(60%) saturate(177%) hue-rotate(270deg) brightness(115%) contrast(87%);
}

.footer__location div p {
  display: inline-block;
  margin-left: 10px;
}

.footer .footer__social-media img {
  width: 40px;
}

.about-us__icon img {
  cursor: pointer;
  width: 30px;
  margin-top: 10px;
  margin-right: 12px;
  filter: invert(99%) sepia(60%) saturate(177%) hue-rotate(270deg) brightness(115%) contrast(87%);
}

.form__row input {
  display: block;
  width: 50%;
}

.form__row textarea {
  resize: none;
  outline: none;
}

.social-media__form .form__btn {
  text-transform: uppercase;
  padding: 10px 30px;
  color: #eee;
  background-color: #02475e;
  transition: all 0.3s;
}

.social-media__form .form__btn:hover {
  color: #fff;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
