.header {
  min-height: 70px;
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  background-color: #364f6b;
  padding: 10px 10px;
  z-index: 20;
}

.header .header__logo {
  flex: 1;
  margin-left: 15px;
}
.header .header__logo a {
  text-transform: uppercase;
  color: #eee;
  font-size: 32px;
  font-weight: 500;
}

.header .header__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__navbar .navbar__link {
  display: inline-block;
}

.header .header__navbar .navbar__link li {
  display: inline-block;
  margin: 0 20px;
}

.header .header__navbar .navbar__link li a {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #eee;
  transition: all 0.2s ease-in-out;
}

.header .header__navbar .navbar__link li:hover a {
  border-radius: 4px;
  border-bottom: 2px solid #eee;
}

.header .header__navbar .navbar__input {
  display: none;
}

.header .header__navbar .navbar__burger {
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  display: none;
}

.header .header__navbar .navbar__burger div {
  background-color: #eee;
  height: 3px;
  width: 24px;
  margin: 5px;
}

.navbar__cart-icon {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.navbar__cart-icon .cart-icon__image {
  width: 30px;
  filter: invert(100%) sepia(9%) saturate(307%) hue-rotate(215deg) brightness(114%) contrast(87%);
}

.navbar__cart-icon .cart-icon__span {
  background: #bc5a45;
  border: 1px solid #eee;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 2px 4px;
  font-size: 12px;
  z-index: 1;
}

.navbar__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

@media screen and (max-width: 768px) {
  .header .header__navbar .navbar__burger {
    display: inline-block;
  }

  .navbar__input:checked ~ .navbar__burger .burger__line--1,
  .burger__line--2,
  .burger__line--3 {
    transition: all 0.3s ease;
  }

  .navbar__input:checked ~ .navbar__burger .burger__line--1 {
    display: none;
  }

  .navbar__input:checked ~ .navbar__burger .burger__line--2 {
    position: relative;
    transform: rotate(45deg);
  }

  .navbar__input:checked ~ .navbar__burger .burger__line--3 {
    transform: rotate(-45deg);
    position: relative;
    top: -7px;
    right: -2px;
  }

  .header .header__navbar .navbar__link {
    color: #eee;
    background-color: #364f6b;
    display: inline-block;
    width: 50%;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    top: 68px;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease-in;
  }
  .header .header__navbar .navbar__link li {
    display: block;
    margin: 30px 8px;
  }

  .navbar__input:checked ~ .navbar__overlay {
    cursor: pointer;
    display: block;
  }

  .navbar__input:checked ~ .navbar__link {
    opacity: 1;
    transform: translateX(0);
  }

  .header .header__navbar .navbar__link .btnClose {
    display: block;
  }
}
